@model Microsoft.AspNetCore.Identity.IdentityUser

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/h1.css" />

<h1>Edit Users</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="EmailConfirmed"></label>
        <input asp-for="EmailConfirmed" />
        <span asp-validation-for="EmailConfirmed"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
    @* <button type="submit">Save</button> *@
</form>
<a asp-action="Index">Back to List</a>